{{> head }}
  {{> navbar }}
  <div class="row">
    <div class="col-8">
      <h1>About</h1>
    </div>
    <div class="col-4">
      <img src="https://wpmisc.com/sites/default/files/wallpaper/movies/70291/angry-batman-hd-wallpapers-70291-3079898.png" class="img-thumbnail">
    </div>
  </div>
{{> footer }}
